.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;

  button {
    background: none;
    border: unset;
  }
}
.slider__line {
  display: flex;
  width: 800px;
  flex-direction: row;
  overflow: hidden;
  border-radius: 5px;
}
.container {
  transition: .5s transform ease;
}
.container img {
  max-width: 800px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;

  &.next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &.prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}