.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  position: relative;

  button {
    background: none;
    position: absolute;
    border: unset;
    z-index: 10;
    margin: -2rem;
    &:first-child {
      left: 0px;
    }
    &:last-child {
      right: 0px;
    }
  }
}
.slider__line {
  display: flex;
  width: 800px;
  flex-direction: row;
  overflow: hidden;
  border-radius: 5px;

  @media screen and (max-width: 768px) {
    width: 400px;
  }
}
.container {
  transition: .5s transform ease;
}
.container img {
  max-width: 800px;
  @media screen and (max-width: 768px) {
    max-width: 400px;
  }
  @media screen and (max-width: 400px) {
    max-width: 320px;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;

  &.next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &.prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}