.footer {
    padding: .5rem .3rem;
    border-top: 3px solid rgba(0, 0, 0, 0.5);
    .wrapper {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 470px) {
            grid-template-columns: 1fr 2fr;
        }
    }
    &__sections, &__document {
        li {
            list-style-type: none;
            margin-bottom: 1rem;

            @media screen and (max-width: 456px) {
                word-break: break-word;
                font-size: 14px;      
            }
        }
    }
    &__document {
        display: flex;
        flex-direction: column;
    }
}