.footer {
    background: var(--main-color);
    padding: .5rem .3rem;
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }
    &__sections, &__document {
        li {
            list-style-type: none;
            margin-bottom: 1rem;

            @media screen and (max-width: 456px) {
                word-break: break-word;           
            }
        }
    }
}