@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

:root {
  --main-color: rgba(0, 111, 250, 0.6);
}

.title {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: rgba(0, 0, 0, 80%);
    margin: 0;
}

html, body, #root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.global-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.global-wrapper .wrapper-container {
  flex: 1 0 auto;
}
header, footer {
  flex: 0 0 auto;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  height: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 0;
}

.bm-item a {
    color: white;
    text-decoration: none;
}

.bm-item li {
    margin-top: 2rem;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.container {
    margin: 0 3rem;
    padding: 1rem 0;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 1rem;
    }
    .title {
      font-size: 2rem;
    }
}

.swiper-button-prev, .swiper-button-next {
  color: black;
}